In [2]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [3]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

24/07/10 13:12:47 WARN Utils: Your hostname, Christophers-iMac.local resolves to a loopback address: 127.0.0.1; using 192.168.4.24 instead (on interface en1)
24/07/10 13:12:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/10 13:12:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [20]:
# 2. Create a temporary view of the DataFrame. Do not need to include column headers, only need to provide a view name ("home_sales") and a boolean operator if needed.

df.createOrReplaceTempView('home_sales')

In [21]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
from pyspark.sql.functions import avg
from pyspark.sql.functions import count
df.filter("bedrooms >= 4").select("price").show()

+-------+
|  price|
+-------+
| 936923|
| 437375|
| 417215|
| 305980|
| 335326|
| 334284|
| 138006|
| 349318|
| 288365|
| 299056|
| 232702|
| 301886|
| 268775|
| 425154|
| 266254|
| 381358|
| 858900|
|1467672|
| 222322|
| 323749|
+-------+
only showing top 20 rows

In [22]:
df.select(avg("price")).show()

+------------------+
|        avg(price)|
+------------------+
|314907.81797698804|
+------------------+

In [23]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
# Import date time functions
#filter = 3 bedrooms, 3 bathrooms
#price = average price
#year = date_built
#avg_df = df.groupBy("date_built").avg()
#avg_df.select("date_built", "avg(price)", df.filter("bedrooms >=3")).show()
from pyspark.sql import functions as F

# Filter for homes with 3 bedrooms and 3 bathrooms
filtered_df = df.filter((df.bedrooms == 3) & (df.bathrooms == 3))

# Group by the year the home was built and calculate the average price
avg_price_df = filtered_df.groupBy("date_built").agg(F.round(F.avg("price"), 2).alias("avg_price"))

# Show the results
avg_price_df.select("date_built", "avg_price").show()

+----------+---------+
|date_built|avg_price|
+----------+---------+
|      2016|290555.07|
|      2012|293683.19|
|      2017|292676.79|
|      2014|290852.27|
|      2013|295962.27|
|      2011|291117.47|
|      2015| 288770.3|
|      2010|292859.62|
+----------+---------+

In [24]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
filtered_floor_df = df.filter((df.bedrooms == 3) & (df.bathrooms == 3) & (df.floors == 2) & (df.sqft_living >=2000))

# Group by the year the home was built and calculate the average price
avg_price_floor_df = filtered_floor_df.groupBy("date_built").agg(F.round(F.avg("price"), 2).alias("avg_price"))

# Show the results
avg_price_floor_df.select("date_built", "avg_price").show()

+----------+---------+
|date_built|avg_price|
+----------+---------+
|      2016| 293965.1|
|      2012|307539.97|
|      2017|280317.58|
|      2014|298264.72|
|      2013|303676.79|
|      2011|276553.81|
|      2015|297609.97|
|      2010|285010.22|
+----------+---------+

In [25]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

filtered_view_df = df.filter(df.price >= 350000)

# Group by the view rating and calculate the average price
avg_view_df = filtered_view_df.groupBy("view").agg(F.round(F.avg("price"), 2).alias("avg_price"))

# Filter for average prices >= $350,000
avg_view_df = avg_view_df.filter(avg_view_df.avg_price >= 350000)

# Show the results
avg_view_df.select("view", "avg_price").orderBy(F.desc("view")).show()

# Show the results
#avg_view_df.select("view", "price").show()
#avg_view_df.orderBy(df["view"].desc()).show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view| avg_price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|   9| 401393.34|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- 0.20380377769470215 seconds ---

In [26]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [27]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [28]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

filtered_view_df = df.filter(df.price >= 350000)

# Group by the view rating and calculate the average price
avg_view_df = filtered_view_df.groupBy("view").agg(F.round(F.avg("price"), 2).alias("avg_price"))

# Filter for average prices >= $350,000
avg_view_df = avg_view_df.filter(avg_view_df.avg_price >= 350000)

# Show the results
avg_view_df.select("view", "avg_price").orderBy(F.desc("view")).show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view| avg_price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|   9| 401393.34|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- 0.36371397972106934 seconds ---

In [29]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy("date_built").mode("overwrite").parquet("delayed_partitioned")

In [30]:
# 11. Read the formatted parquet data.
p_df_p=spark.read.parquet('delayed_partitioned')

In [31]:
# 12. Create a temporary table for the parquet data.
p_df_p.createOrReplaceTempView('p_date_built_p')

In [33]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

# 13. Using the parquet DataFrame, run the query
start_time = time.time()

# Use SQL query on the temporary view in order to create the requested view using a parquet DataFrame (vs. Pandas df used above)
query = """
SELECT view, ROUND(AVG(price), 2) AS avg_price
FROM p_date_built_p
WHERE price >= 350000
GROUP BY view
HAVING AVG(price) >= 350000
ORDER BY view DESC
"""

result = spark.sql(query)
result.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view| avg_price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|   9| 401393.34|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
+----+----------+
only showing top 20 rows

--- 2.0011839866638184 seconds ---

In [34]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table p_date_built_p")

DataFrame[]

In [35]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached("p_date_built_p")

False